global
        daemon
        maxconn 256

defaults
        mode http
        timeout connect 5s
        timeout client 50s
        timeout server 50s

frontend http-in
         bind *:80
         default_backend servers

backend servers
        balance roundrobin

{{range getvs "/whoami/*" }}
        server whoami{{.}} {{.}} check maxconn 32
{{end}}

listen stats :1936
    mode http
    stats enable
    stats hide-version
    #stats realm Haproxy\ Statistics
    stats uri /
    #stats auth Username:Password
